.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .product h3 {
    margin-top: 0;
  }
  
  .product p {
    font-size: 18px;
    font-weight: bold;
    color: #337ab7;
  }